@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

html{
  scroll-behavior: smooth;
}

#hero-1{
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  color:white;
  font-size: 70px;
}

.slide-left{
  animation: slideleft 2s linear forwards;
}

@keyframes slideleft{
  0%{
    transform: translate(100px);
    opacity:0;
  }
  100%{
    transform: translate(0px);
    opacity:1;
  }
}

body {
  text-align: center;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

        

#get{
    border: 5px solid blue;
    color: black;
    padding: 20px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 10px 20px -8px rgba(202, 195, 195, 0.7);
    font-family: 'Poppins', sans-serif;
    border-radius: 20px 30px;

}
#get:after{
  opacity: 0;
  transition: 1s;
}

#get:hover{
  background-color: cyan;
  transition: 1s;
  
}

#get:hover:after {
  opacity: 1;
  right: 10px;
  transition: 1s;
}

.break{
margin-bottom: 23em;
}

#abt{
  background-color: #36d1dc;
  font-family: 'Poppins', sans-serif;
}

.topnav {
  overflow: hidden;
  
  }

.topnav:hover{
  background-color: #ebe6e6;
  transition: 1s;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family :'Poppins',sans-sheriff;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: black;
}

h2{
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
}

.space{
margin-bottom: 2em;
}

.wrapup{
  font-size:30px;
}

h3{
  text-align:right;
  font-family: 'Montserrat',sans-serif;
  color:white;
}

.jarv{
  font-family: 'Montserrat',sans-serif;
  text-align: right;
  font-size: 30px;
  color: white;
}

#projects{
  background-color: #7892E1;
}

.h1pro{
  font-family: 'Montserrat',sans-serif;
  font-size:40px;
}
.imgsp{
  margin-bottom: 10em;
}

 
 .aligned {
    display: flex;
    align-items: center;
        }
           
          
span {
  font-family: 'Montserrat',sans-serif;
  text-align: right;
  font-size: 30px;
  color: white;
   }

.scroll-down{
height : 50px;
width : 30px;
border  :2px solid black;
position : relative  ;
left : 50%;
top  :20%;
bottom : 20px;
cursor : pointer;
border-radius : 50px;
}

.scroll-down::before,
.scroll-down::after{

content : '';
position : absolute;
top : 10%;
left  :50%;
border  :2px solid black;
height: 10px;
width : 10px;
transform : translate(-50% , -50%) rotate(45deg);
border-top : transparent;
border-left: transparent;
animation: scroll-down 1s ease-in-out infinite;

}

.scroll-down::after{

top: 20%;
animation-delay : .3s;

}

@Keyframes scroll-down{

0%{
   
   opacity : 1;

  }
30%{
   
   opacity : 1;

  }
60%{
   
   opacity : 1;

  }
100%{
   
   opacity : 0;
   top : 90%;

  }
}

#social{
  background-color: grey;
}


.g{
  margin-bottom: 10em;
}

.r{
  margin-bottom: 5em;
}
